* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgGrid {
    filter: grayscale(100%);
}

.btnRef {
    background-color: #f6e94e;
    /* Font & Text */
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(40, 42, 42);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

    /* Color & Background */
    background-attachment: scroll;
    background-color: rgb(246, 233, 78);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(40, 42, 42);

    /* Box */
    height: auto;
    width: auto;
    border: 0px none rgb(40, 42, 42);
    border-top: 0px none rgb(40, 42, 42);
    border-right: 0px none rgb(40, 42, 42);
    border-bottom: 0px none rgb(40, 42, 42);
    border-left: 0px none rgb(40, 42, 42);
    margin: 0px;
    padding: 10px;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #f6e94e;
}

::-webkit-scrollbar-button {
    background-color: white;
}

::-webkit-scrollbar-corner {
    background-color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
        "img1 descr1"
        "subGrid img3"
        "img4 descr4";
}

.img1 {
    grid-area: img1;
    height: 350px;
}

.descr1 {
    grid-area: descr1;
    height: 350px;
}

.img3 {
    grid-area: img3;
    height: 350px;
}

.img4 {
    grid-area: img4;
    height: 350px;
}

.descr4 {
    grid-area: descr4;
    height: 350px;
}

.subGrid {
    
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "img2 descr2";
    grid-area: subGrid;
}

.img2 {
    grid-area: img2;
}

.descr2 {
    grid-area: descr2;
}

img {
    height: 350px;
    width: calc(55%*vw);
}